<%- partial('_partial/head') %>
<body class="homepage">

<header id="header">
		<%- partial('_partial/top') %>
        <%- partial('_partial/nav') %>
</header><!--/header-->

    <%- body %>

<section id="bottom">
	<%- partial('_partial/bottom') %>
</section><!--/#bottom-->

<footer id="footer" class="midnight-blue">
	<%- partial('_partial/footer') %>
</footer><!--/#footer-->

<!-- Scripts -->
<script type="text/javascript" src="/js/html5shiv.js"></script>
<script type="text/javascript" src="/js/respond.min.js"></script>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="/js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/wow.min.js"></script>


</body>
</html>
